albumentations
einops
faiss_gpu
h5py
imgaug
matplotlib
mpmath
numpy<2.0.0
opencv_contrib_python<4.10
opencv_python<4.10
pandas
Pillow
prettytable
ptflops
pyproj
pytorch_lightning
pytorch_metric_learning
pytorch_model_summary
PyYAML
scikit_learn
Shapely
sympy
thop
timm
torch>=2.10.0
torchinfo
torchmetrics
torchvision>=0.15.0
tqdm
transformers
xformers
